*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .formControl{
  display: flex;
  align-items: center;
  flex-direction: column;

} */
.App{
  background-color: rgb(248, 245, 245);
  height: 40rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  border: 1px solid black;

}
.error{
  color: red;
  font-size: small;
}
.formControl{
  display: flex;
  align-items: center;
  line-height: 2rem;
  
}
label{
  margin-right: 2rem;
}
input{
  padding: 3px 5px;
}
.inputField{
  align-items:flex-start;
}
select{
  width: 10rem;
}